

/* new css */

header{
     display: flex;
    align-items: center;
     justify-content: space-between;
     height: 80px;
     /* background-color: red; */
     padding:4rem 0rem;
}
.nav-logo{
    width: 11rem;
}
.signup-btn{
    padding:1rem 1.8rem;
    background-color: #fff;
    border:none;
    font-size: 18px;
    font-family: 'poppins';
    align-items: right;
}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    /* visibility: hidden; */
    opacity: 0;
    color:blue;
    font-size: 1.8rem;
}
.nav-logoblack{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    width:11rem;
}

@media screen and (max-width:1024px){
    header{
      
        padding:2rem 0rem;
   }
   .nav-logoblack{
    visibility: visible;
    opacity: 1;
    position: absolute;
    top:2rem;
    width:8rem
   }
    header .nav-btn{
        /* visibility: visible; */
        opacity: 1;
        display: block;
        color:#fff;
        /* width:8rem; */

    }
    .signup-btn{
      
        position: absolute;
        top: 6.5rem;
        
        border:1px solid black;
        
    }
    .nav-logo{
        width: 8rem;
       

    }
    header nav{
        position:fixed;
        top:0;
        left: 0;
        height:100%;
        background-color: #fff;
        padding: 0rem 1rem;
        width: 100%;
        flex-direction: column;
        z-index: 5;
        display: flex;
        
        
        /* align-items: center;
        justify-content: center; */
        gap:1.5rem;
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav{
        transform: none;
    }
    nav .nav-close-btn{
        position:absolute;
        top:1.8rem;
        right:1rem;
        color:#000
    }
}